<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>My Chat App</title>
</head>
<body>
<h1>Login</h1>
<h3>{{ message }}</h3>
<form method="post" action="/login">
    <label>Username:</label>
    <input type="text" name="username">
    <br>
    <label>Password:</label>
    <input type="password" name="password">
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>